.idea
venv
*.log
*.tmp
*.json

# Terraform state and lock files
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.terraform/
.terraform.tfstate.lock.info
*terraform.tfstate.d/
.terragrunt-cache/
*.hcl
*.backup
crash.log
*.DS_Store
Create-CloudFunction/aws/python/
